# compiled output
dist/

# dependencies
.node_modules
node_modules/
*/node_modules
/node_modules/*
/bower_components

# OS X Files
.DS_Store
Thumbs.db
*.swp
*.swo
*.lnk

# IDE FILES
*.sublime-*
*.tmproj

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.code-workspace

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dingding-talk/*
